<div class="d-flex justify-content-center">
    <div class="d-inline-block">
        <h1 class="display-3">Employees List</h1>
        <p class="lead">Click <a href="/Employees" class="font-weight-bold">here</a> to see all our employees.</p>
    </div>
</div>