@model Employees.Mvc.View_Models.NewOrUpdateEmployeeVM

<div class="d-flex justify-content-center">
    <div>
        <h1 class="display-3">New Employee</h1>
        <p class="lead">Please fill in the information below to create a new employee.</p>
        <br />
        <form asp-action="@nameof(Employees.Mvc.Controllers.MVC.EmployeesController.Create)" method="post" class="new-or-update-form">
            <div class="form-row form-group">
                <div class="col">
                    <input class="form-control" type="text" name="firstName" placeholder="Employee's First Name" />
                </div>
                <div class="col">
                    <input class="form-control" type="text" name="lastName" placeholder="Employee's Last Name" />
                </div>
            </div>
            <div class="form-row form-group">
                <div class="col">
                    <input class="form-control" type="text" name="address" placeholder="Employee's Address" />
                </div>
                <div class="col">
                    <input class="form-control" type="text" name="phoneNumber" placeholder="Employee's Phone Number" />
                </div>
            </div>
            <div class="form-row form-group">
                <div class="col">
                    <input class="form-control" type="text" name="specialty" placeholder="Employee's Specialty" />
                </div>
            </div>
            <div class="form-row form-group">
                <div class="col">
                    <button type="submit" class="btn btn-success font-weight-bold">
                        <svg class="bi bi-plus-circle-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M16 8A8 8 0 110 8a8 8 0 0116 0zM8.5 4a.5.5 0 00-1 0v3.5H4a.5.5 0 000 1h3.5V12a.5.5 0 001 0V8.5H12a.5.5 0 000-1H8.5V4z" clip-rule="evenodd" />
                        </svg>
                        Create new Employee
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>